<?xml version="1.0" encoding="utf-8"?>

<launch>
    <node name="tcv" pkg="perception" type="tcv.py" output="screen" />
    <node name="dnnCV" pkg="perception" type="dnnCV.py" output="screen" />
    <node name="kalman_filter" pkg="perception" type="kalman_filter.py" output="screen" />
    <include file="$(find darknet_ros)/launch/ardrone_real.launch"></include>
</launch>
