<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="view_camera_output" default="false" />
    <arg name="calculate_run_times" default="false" />
    <node
        name="tcv"
        pkg="perception"
        type="tcv.py"
        output="screen">
        <param name="environment" value="sim" />
        <param name="config_file" value="config/tcv_config.yaml" />
        <param name="view_camera_output" value="$(arg view_camera_output)"/>
        <param name="calculate_run_times" value="$(arg calculate_run_times)"/>
    </node>
</launch>