<?xml version="1.0" encoding="utf-8"?>

<launch>
    <node name="ground_truth" pkg="utilities" type="ground_truth.py" output="screen" />
    <node name="tcv" pkg="pose_estimate" type="tcv.py" output="screen" />
    <node name="dnnCV" pkg="pose_estimate" type="dnnCV.py" output="screen" />
    <node name="kalman_filter" pkg="pose_estimate" type="kalman_filter.py" output="screen" />
    <node name="mock_gps" pkg="pose_estimate" type="mock_gps.py" output="screen" />
    <include file="$(find darknet_ros)/launch/ardrone_sim.launch"></include>

</launch>
