
<launch>
    <node name="ground_truth" pkg="uav_vision" type="ground_truth.py" output="screen" />
    <node name="cv_module" pkg="uav_vision" type="cv_module.py" output="screen" />
    <node name="yolo_cv_module" pkg="uav_vision" type="yolo_cv_module.py" output="screen" />
    <node name="combined_filter" pkg="uav_vision" type="combined_filter.py" output="screen" />
    <node name="dead_reckoning" pkg="uav_vision" type="dead_reckoning.py" output="screen" />
</launch>
